<div [@routerTransition]>
  <div class="row">
    <div class="col-md-8">
      <h3 class="text-muted">Dashboard</h3>
    </div>
    <!-- <div class="col-md-4">
      <img src='assets/icons/driver_dashboard.JPG'>
    </div> -->
  </div>
  <br>
  <div class="col">
    <div class="row driver-text">
      <div class="col-md-12">
        <div class="form-group">
          <label class="text-center" >Welcome {{username}}, you have assigned {{orderCount}} jobs of transportation for today {{date}} .</label>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-1" *ngFor="let i of filterList;">
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" [(ngModel)]="filterObj.FilterName" [value]="i.Value" class="form-check-input" name="optradio"
            (click)="getOrderList(i.Value)">{{i.Value}}
        </label>
      </div>
    </div>
    <div class="col-md-5">
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <input class="form-control" placeholder="Filter" type="text" (keyup)="onFilter($event.target.value)" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-8 driver-card" *ngFor="let order of orderList; let j = index">
      <div class="card text-white bg-{{bgClaas[j]}}">
        <div class="card-header">
          <div class="row">
            <div class="col col-lg-12 col-xs-9">
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Auction Name : </b>&nbsp; {{order.AuctionName}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Order Date : </b>&nbsp; {{order.OrderDate}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Lot# : </b>&nbsp; {{order.Lot}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Vendor Name : </b>&nbsp; {{order.VendorName}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Pickup : </b>&nbsp; {{order.PickupLoc}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Drop Off : </b>&nbsp; {{order.DestLoc}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Vehicle Name : </b>&nbsp; {{order.CarName}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Chassis # : </b>&nbsp; {{order.Chasis}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Date Assigned : </b>&nbsp; {{order.UpdatedDate}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">

                  <div class="form-group">
                    <select class="form-control" (change)="onStatusChange($event.target.value, j)" [ngModel]="order.OrderStatusID">
                      <option *ngFor="let status of orderStatusList" [value]="status.ID">{{status.Value}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row card-font-size">
            <!-- <div class="col-md-8">
              <div class="form-group">
                <select class="form-control" (change)="onStatusChange($event.target.value, j)" [ngModel]="order.OrderStatusID">
                  <option *ngFor="let status of orderStatusList" [value]="status.ID">{{status.Value}}</option>
                </select>
              </div>
            </div> -->
            <div class="col">
              <button class="float-left btndashboard" (click)="onWriteComments(order)">Comments</button>
            </div>
            <div class="col">
              <button class="float-left btndashboard"  (click)="onTakePictures(order)">Pictures</button>
            </div>
            <div class="col">
              <button class="float-left btndashboard" (click)="onDetail(order.OrderId)">Details</button>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-8" *ngIf="!length">
      No Data Found
    </div>
  </div>
</div>