#OrderStatus{
    position: absolute;
    right: 38%; 
}

#PaymentStatus{
    position: absolute;
    right: 20%;
}

.filter{
    margin-left: 38%;
    position: absolute;
    margin-top: 1%;

}

#SearchStatus {
    position: absolute;
    right: 2%;
}
