<div [@routerTransition]>
  <div class="row">
    <div class="col-md-9">
      <h3 class="text-muted">Port Employee Dashboard</h3>
    </div>
    <!-- <div class="col-md-3">
      <img src='assets/icons/port_employee_dashboard.JPG'>
    </div> -->
  </div>
  <br>
  <div class="col">
    <div class="row">
      <div class="col-md-6">
        <label><b>{{portname}}</b></label>
      </div>
    </div>
    <div class="row port-text">
      <div class="col-md-12">
        <div class="form-group">
          <label class="text-center">Welcome {{username}}, {{orderCount}} Cars just delivered to your port . Please
            inspect and take
            pictures.</label>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="" (change)='onDeliveredChecked($event)'>Delivered
          Today
        </label>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <input class="form-control" placeholder="Filter" type="text" (keyup)="onFilter($event.target.value)" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-8 port-card" *ngFor="let order of orderList; let i = index">
      <div class="card text-white bg-{{bgClass[i]}}">
        <div class="card-header">
          <div class="row">
            <div class="col col-lg-12 col-xs-9">
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Vehicle Name : </b>&nbsp; {{order.VehicleTypeName}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Chassis # : </b>&nbsp; {{order.Chasis}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Driver : </b>&nbsp;{{order.DriverName}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Date Delivered : </b>&nbsp; {{order.UpdatedDate}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <select class="form-control" (change)="onStatusChange($event.target.value, i)" [ngModel]="order.OrderStatusID">
                    <option *ngFor="let status of orderStatusList" [value]="status.ID">{{status.Value}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row card-font-size">
            <div class="col">
              <button class="float-left btndashboard" (click)="onDetail(order.OrderId)">Details</button>
            </div>
            <div class="col">
              <button class="float-left btndashboard" (click)="onWriteComments(order)">Comments</button>
            </div>
            <div class="col">
              <button class="float-left btndashboard" (click)="onTakePictures(order)">Pictures</button>
            </div>
            <!-- <div class="col-md-4">
              <span class="float-left">Details</span>
            </div>
            <div class="col-md-4">
              <span class="float-left btndashboard" (click)="onWriteComments()">Comments</span>
            </div>
            <div class="col-md-4">
              <span class="float-left btndashboard" (click)="onTakePictures(order)">Pictures</span>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>