#OrderStatus {
    position: absolute;
    right: 20%;
}

#PaymentStatus {
    position: absolute;
    right: 2%;
}

.filter {
    margin-left: 55%;
    position: absolute;
    margin-top: 1%;

}

.port-text {
    background-color: #b9d7e2;
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    ;
}

.text-center {
    padding-top: 20px;
}

.port-card {
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.btndashboard {
    background-color: Transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    color: white;
    overflow: hidden;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    width: 100% !important;
}

.card-font-size {
    font-size: 15px;
}

.bg-chocolate {
    background-color: chocolate !important;
}