.filter {
    margin-left: 55%;
    position: absolute;
    margin-top: 1%;

}

.input-sm {
    margin-bottom: 5px;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.search {
    float: right;
    margin-bottom: 5px;
}

a.btn.btn-link {
    color: #0056b3;
}

a.btn.btn-link:hover {
    text-decoration: underline;
}

:host /deep/ ng2-smart-table ng2-smart-table-pager {
    float: right;
}

.alphabets {
    padding: 5px;
}

.page {
    font-size: smaller;
    float: left;
    margin-left: 26px;
    margin-top: 14px;
}

.font-text {
    font-size: 1em !important;
}