<div>
  <section class="content-header">
    <h3 class="card-top-header">List of all Vendors</h3>
  </section>
  <div class="row">
    <div class="col col-lg-12">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col col-lg-12 table-responsive">
              <span class="alphabets btn btn-link" *ngFor="let i of alphabets" (click)="onAlphabetSearch(i)">
                {{i}}
              </span>
              <input #search type="text" class="form-control col-md-3 search" name="FirstName" (keyup)="onSearch(search.value)"
                placeholder="Search..." required />
                <br>
                <br>
              <ng2-smart-table class="table table-hover" [settings]="settings" [source]="source">
              </ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>