img {
    height: 250px;
    object-fit: contain;
}

.card {
    border: 0px;
}

.modal-header {
    z-index: 100000;
}

.card-body {
    padding-left: 0px;
    padding-right: 0px;
}

.text-left {
    text-align: left;
}

.m-b {
    margin-bottom: 15px;
}
.modal-body {
    max-height: 480px !important;
    overflow-y: auto;
}

@media only screen and (min-width: 1500px) {
    .modal-body {
        max-height: 550px !important;
        overflow-y: auto;
    }
}