<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Pictures</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xl-4 col-lg-12" *ngFor="let image of imageList; let j = index">
        <div class="card">
          <img class="card-img-top" src="{{apiUrl}}{{image.PicturePath}}" alt="Card image cap">
          <div class="card-body text-left">
            <p><b>By : &nbsp; {{image.UserName}} on {{image.CreatedDate}}</b></p>
            <p class="card-text alert alert-{{bgClass[j]}}" *ngIf="image.PictureComment">{{image.PictureComment}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(false)">Close</button>
  </div>
</div>