.disable-dropdown {
    background-image: none;
    -webkit-appearance: none;
    border: none;
    box-shadow: none;
    padding: 0.3em 0.5em;
    pointer-events: none;
    width: 120%;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin-top: -5px;
    margin-left: -7px;
}