<div [@routerTransition]>
  <section class="content-header">
    <div class="row">
      <div class="col-md-9">
        <h3 class="card-top-header">View Order</h3>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col col-md-6">
        <div class="row">
          <div class="col-md-6">
            <h6><b>Auction Name : </b>{{updateOrderObj.AuctionName}}</h6>
          </div>
          <div class="col-md-6">
            <h6><b>Order Date : </b>{{updateOrderObj.OrderDate}}</h6>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <h6><b>Lot# : </b>{{updateOrderObj.Lot}}</h6>
          </div>
          <div class="col-md-8">
            <h6><b>Vehicle Name : </b>{{updateOrderObj.CarName}}</h6>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <h6><b>Chasis# : </b>{{updateOrderObj.Chasis}}</h6>
          </div>
          <br>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <h6><b>Pickup Location : </b>{{updateOrderObj.PickupLoc}}</h6>
          </div>
          <br>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <h6><b>Destination Location : </b>{{updateOrderObj.DestLoc}}</h6>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-6">
        <div class="row">
          <div class="col col-md-9">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label><b>Vendor Name : </b></label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label> {{vendorDetail.VendorName}}</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label><b>Vendor Phone :</b> </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label> {{vendorDetail.VendorPhone}}</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label><b>Vendor Fax :</b> </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label> {{vendorDetail.VendorFax}}</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label><b>Vendor Address :</b> </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>
                    {{vendorDetail.Province}}<span *ngIf="vendorDetail.Province && vendorDetail.PostalCode">,</span>
                    {{vendorDetail.PostalCode}}
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label><b>Membership Number : </b></label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label> {{vendorDetail.VendorFax}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <img src='{{vendorDetail.VendorLogo}}' width="100" height="100">
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-default">
          <div class="box-body">
            <div class="row">
              <div class="col-md-2">
                <div class="form-group">
                  <label><b>Order Status :</b></label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <select class="form-control disable-dropdown" name="orderStatus" [(ngModel)]="updateOrderObj.OrderStatusID">
                    <option *ngFor="let status of orderStatusList" [value]="status.ID">{{status.Value}} <span *ngIf="updateDate">on
                        <b> {{updateDate[0]}} </b> at {{updateDate[1]}} {{updateDate[2]}} </span></option>
                  </select>
                </div>
              </div>
              <div class="col-md-5"></div>
              <div class="col-md-2" *ngIf="updateOrderObj.OrderPicsCount">
                <div class="form-group">
                  <a href="javascript:void(0)" class="nav-link" (click)="onViewPictures()">View Pictures</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="form-group">
                  <label><b>Vehicle Type :</b></label>
                </div>
              </div>
              <div class="col-md-3" *ngIf="!updateOrderObj.VehicleTypeID">
                <div class="form-group">
                  <span>--</span>
                </div>
              </div>
              <div class="col-md-3" *ngIf="updateOrderObj.VehicleTypeID">
                <div class="form-group">
                  <select class="form-control disable-dropdown" name="vehicleType" [(ngModel)]="updateOrderObj.VehicleTypeID">
                    <option *ngFor="let vehicle of vehicleTypeList" [value]="vehicle.ID">{{vehicle.Value}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3" *ngIf="updateOrderObj.VehicleTypeID == 2">
                <div class="form-group">
                  <select class="form-control disable-dropdown" name="categoryTruck" [(ngModel)]="updateOrderObj.TruckCategoryID">
                    <option value="0" disabled selected hidden> -- </option>
                    <option *ngFor="let category of truckCategoryList" [value]="category.ID">{{category.Value}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2" *ngIf="updateOrderObj.VehicleTypeID == 2">
                <div class="form-group">
                  <select class="form-control disable-dropdown" name="weightSlab" [(ngModel)]="updateOrderObj.TruckWeightID">
                    <option value="0" disabled selected hidden> -- </option>
                    <option *ngFor="let weight of truckWeightList" [value]="weight.ID">{{weight.Value}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3" *ngIf="updateOrderObj.VehicleTypeID == 3">
                <div class="form-group">
                  {{updateOrderObj.SpecialType}}
                  <!-- <input class="form-control" type="text" [(ngModel)]="updateOrderObj.SpecialType" placeholder="Please type vehicle type"
                    name="SpecialType" /> -->
                </div>
              </div>
              <div class="col-md-2" *ngIf="updateOrderObj.VehicleTypeID == 3">
              </div>
              <div class="col-md-5" *ngIf="updateOrderObj.VehicleTypeID == 1">
              </div>
              <div class="col-md-2" *ngIf="updateOrderObj.OrderCommentsCount">
                <div class="form-group">
                  <a href="javascript:void(0)" class="nav-link" (click)="onViewComments()">View Comments</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="form-group">
                  <label><b>Condition :</b></label>
                </div>
              </div>
              <div class="col-md-3" *ngIf="!updateOrderObj.ConditionID">
                <div class="form-group">
                  <span>--</span>
                </div>
              </div>
              <div class="col-md-3" *ngIf="updateOrderObj.ConditionID">
                <div class="form-group">
                  <select class="form-control disable-dropdown" name="conditions" [(ngModel)]="updateOrderObj.ConditionID">
                    <option *ngFor="let condition of conditionList" [value]="condition.ID">{{condition.Value}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="form-group">
                  <label><b>Condition Details :</b></label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <span *ngIf="updateOrderObj.ConditionDetails">{{updateOrderObj.ConditionDetails}}</span>
                  <span *ngIf="!updateOrderObj.ConditionDetails"> -- </span>
                  <!-- <textarea class="form-control" [(ngModel)]="updateOrderObj.ConditionDetails" type="text" name="conditionDetails"></textarea> -->
                </div>
              </div>
            </div>
            <hr *ngIf="updateOrderObj.ConditionID != 1 || updateOrderObj.VehicleTypeID == 3">
            <div class="row" *ngIf="updateOrderObj.ConditionID != 1 || updateOrderObj.VehicleTypeID == 3">
              <div class="col-md-2">
                <div class="form-group">
                  <label><b>Price :</b></label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                    <span *ngIf="updateOrderObj.Price">{{updateOrderObj.Price}}</span>
                    <span *ngIf="!updateOrderObj.Price"> -- </span>
                  <!-- <input disabled class="form-control" type="text" [(ngModel)]="updateOrderObj.Price" placeholder="Price" name="price" /> -->
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label><b>Mode Of Transportation :</b></label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <span *ngIf="updateOrderObj.TransportMode">{{updateOrderObj.TransportMode}}</span>
                  <span *ngIf="!updateOrderObj.TransportMode"> -- </span>
                  <!-- <input disabled class="form-control" [(ngModel)]="updateOrderObj.TransportMode" type="text" name="modeOfTransportation" /> -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label><b>Assign Driver :</b></label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <select class="form-control  disable-dropdown" name="assignDriver" [(ngModel)]="updateOrderObj.Driver">
                    <option value="0" disabled selected hidden> Not Assigned Yet </option>
                    <option *ngFor="let driver of driverUserList" [value]="driver.ID">{{driver.Value}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="box-footer footer">
              <button type="button" class="btn btn-info" (click)="onDashboard()">Dashboard</button>&nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>