#OrderStatus {
    position: absolute;
    right: 20%;
}

#PaymentStatus {
    position: absolute;
    right: 2%;
}

.filter {
    margin-left: 55%;
    position: absolute;
    margin-top: 1%;

}

.input-sm {
    margin-bottom: 5px;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.search {
    float: right;
}

a.btn.btn-link {
    color: #0056b3;
}

a.btn.btn-link:hover {
    text-decoration: underline;
}
:host /deep/ ng2-smart-table ng2-smart-table-pager { 
    float: right;
}
.font-text {
    font-size: 1em !important;
}