<div>
  <section class="content-header">
    <h3 class="card-top-header"> List of all Internal Users</h3>
  </section>
  <div class="row">
    <div class="col col-lg-12">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col col-lg-12 table-responsive">
              <div class="row">
                <div class="col-md-2" style="margin-top: 7px;">
                  Select User Type
                </div>
                <div class="col-md-4">
                  <select class="form-control" (change)="onSelectUserType()"  [(ngModel)]="selectedUserType">
                    <option value=''>All</option>
                    <option value="2">Manager</option>
                    <option value="1">Admin</option>
                    <option value="3">Driver</option>
                    <option value="4">Local Port Employee</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <input #search type="text" class="form-control col-md-7 search" name="FirstName" (keyup)="onSearch(search.value)"
                    placeholder="Search..." />
                </div>
              </div>
              <br>
              <ng2-smart-table class="table table-hover" [settings]="settings" [source]="source">
              </ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>