<div [@routerTransition]>
  <h2 class="text-muted">Dashboard</h2>
  <hr />
  <div class="row">
    <div class="col-xl-4 col-lg-6">
      <app-stat [bgClass]="'info'" [icon]="'fa-shopping-cart'" [count]="26" [label]="'Bid Orders'"></app-stat>
    </div>

    <div class="col-xl-4 col-lg-6">
      <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'Vendor Orders'"></app-stat>
    </div>

    <div class="col-xl-4 col-lg-6">
      <app-stat [bgClass]="'danger'" [icon]="'fa-tasks'" [count]="13" [label]="'Invoices'"></app-stat>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col col-lg-12">
      <div class="card mb-3">
        <div class="card-body">
          <span class="filter"><b>Filters:</b></span>
          <select class="form-control col-md-2" id="OrderStatus">
            <option value="" disabled selected hidden>Order Status</option>
            <option>Order Pending</option>
            <option>Order Created</option>
            <option>Order On Hold</option>
            <option>Order Picked</option>
            <option>Order Delivered at Local Port</option>
            <option>Order Received at Local Port </option>
            <option>Order Dispatched to Destination Port </option>
            <option>Order Received at Destination Port </option>
            <option>Order Picked</option>
            <option>Order Picked</option>
          </select>
          <input class="form-control col-md-2" id="PaymentStatus" type="text" placeholder="Search" name="search" />
          <ngb-tabset>
            <ngb-tab title=" Orders">
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col col-lg-12">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Order ID</th>
                          <th>Status</th>
                          <th>Item</th>
                          <th>Update Order Status</th>
                          <th>Update Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a href="#">OR9842</a></td>
                          <td>
                            <span class="label label-success">Order Pending</span>
                          </td>
                          <td>Employee Order 1</td>
                          <td><select class="form-control col-md-10">
                              <option>Order Pending</option>
                              <option>Order Created</option>
                              <option>Order On Hold</option>

                            </select>
                          </td>
                          <td>24-May-2018</td>
                        </tr>
                        <tr>
                          <td><a href="#">OR1848</a></td>
                          <td>
                            <span class="label label-warning">Order Created</span>
                          </td>
                          <td>Employee Order 2</td>
                          <td> <select class="form-control col-md-10">
                              <option>Order Pending</option>
                              <option>Order Created</option>
                              <option>Order On Hold</option>

                            </select></td>
                          <td>24-May-2018</td>
                        </tr>
                        <tr>
                          <td><a href="#">OR7429</a></td>
                          <td>
                            <span class="label label-danger">Order Picked </span>
                          </td>
                          <td>iPhone 6 Plus</td>
                          <td> <select class="form-control col-md-10">
                              <option>Order Pending</option>
                              <option>Order Created</option>
                              <option>Order On Hold</option>

                            </select></td>
                          <td>24-May-2018</td>
                        </tr>
                        <tr>
                          <td><a href="#">OR7429</a></td>
                          <td>
                            <span class="label label-info">Order Delivered at Local Port </span>
                          </td>
                          <td>Samsung Smart TV</td>
                          <td><select class="form-control col-md-10">
                              <option>Order Pending</option>
                              <option>Order Created</option>
                              <option>Order On Hold</option>

                            </select></td>
                          <td>24-May-2018</td>
                        </tr>
                        <tr>
                          <td><a href="#">OR1848</a></td>
                          <td>
                            <span class="label label-primary">Order Received at Local Port</span>
                          </td>
                          <td>Samsung Smart TV</td>
                          <td> <select class="form-control col-md-10">
                              <option>Order Pending</option>
                              <option>Order Created</option>
                              <option>Order on Hold</option>

                            </select></td>
                          <td>24-May-2018</td>
                        </tr>
                        <tr>
                          <td><a href="#">OR7429</a></td>
                          <td>
                            <span class="label label-warning">Order Dispatched to Destination Port</span>
                          </td>
                          <td>iPhone 6 Plus</td>
                          <td> <select class="form-control col-md-10">
                              <option>Order Pending</option>
                              <option>Order Created</option>
                              <option>Order on Hold</option>
                            </select></td>
                          <td>28-May-2018</td>
                        </tr>
                        <tr>
                          <td><a href="#">OR9842</a></td>
                          <td>
                            <span class="label label-success">Order Received at Destination Port</span>
                          </td>
                          <td>Call of Duty IV</td>
                          <td> <select class="form-control col-md-10">
                              <option>Order Pending</option>
                              <option>Order Created</option>
                              <option>Order on Hold</option>
                            </select></td>
                          <td>22-May-2018</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                  </div>
                  <div class="col-md-6">
                    <!-- <div class="text-uppercase text-muted fs-12">maxSize = 5, rotate = false</div> -->
                    <ngb-pagination class="pull-right" [collectionSize]="150" [(page)]="advancedPagination" [maxSize]="5"
                      [boundaryLinks]="true"></ngb-pagination>
                    <!-- <div class="alert alert-info">
                                  <b>Current page: </b>{{advancedPagination}}
                                </div> -->
                  </div>
                </div>
              </ng-template>
            </ngb-tab>

          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-6">
      <div class="card mb-3">
        <div class="card-header">
          Monthly Total Orders
        </div>
        <div class="card-body">
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
            [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
    </div>
    <div class="col col-sm-6">
      <div class="card mb-3">
        <div class="card-header">
          Orders Report
        </div>
        <div class="card-body">
          <canvas baseChart height="180px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>