<nav class="navbar navbar-expand-lg fixed-top bt-white-border">
    <a class="navbar-brand" href="#">TMS </a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <span><i class="fa fa-language"></i>&nbsp;LANGUAGE <b class="caret"></b></span>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">
                        ENGLISH
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('ja')">
                        JAPANESE
                    </a>
                </div>
            </li> -->
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-user"></i> {{username}} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="onProfile()">
                        <i class="fa fa-fw fa-user"></i> Profile
                    </a>
                    <!-- <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-gear"></i> Settings
                    </a> -->
                    <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> Logout
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>