.search {
    float: right;
    margin-bottom: 5px;
}

a.btn.btn-link {
    color: #0056b3;
}

a.btn.btn-link:hover {
    text-decoration: underline;
}
:host /deep/ ng2-smart-table ng2-smart-table-pager { 
    float: right;
}