<div [@routerTransition]>
  <section class="content-header">
    <h3 class="card-top-header">{{topHeader}}</h3>
  </section>
  <section class="content">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
      <div class="card mb-12">
        <div class="card-header">User Info</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-default">
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group required">
                        <label class="control-label">First Name</label>
                        <input type="text" class="form-control" name="FirstName" [(ngModel)]="user.FirstName"
                          #FirstName="ngModel" placeholder="First Name" required />
                        <div *ngIf="f.submitted && FirstName.invalid" class="errors">
                          <div *ngIf="FirstName.errors.required">
                            First Name is required.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group required">
                        <label class="control-label">Last Name</label>
                        <input type="text" name="lastname" class="form-control" required [(ngModel)]="user.LastName"
                          placeholder="Last Name" #lastName="ngModel" />
                        <div *ngIf="f.submitted && lastName.invalid" class="errors">
                          <div *ngIf="lastName.errors.required">
                            Last Name is required.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group required">
                        <label class="control-label">Email</label>
                        <input type="text" class="form-control" required [(ngModel)]="user.Email" name="email" #Email="ngModel"
                          placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [disabled]="emailDisableFlag" />
                        <div *ngIf="f.submitted && Email.invalid" class="errors">
                          <div *ngIf="Email.errors && Email.errors.required">
                            Email is required.
                          </div>
                          <div *ngIf="Email.errors && !Email.errors.required">
                            Valid email is required.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group required">
                        <label class="control-label">Password</label>
                        <input type="password" class="form-control" required [(ngModel)]="user.Password" name="password"
                          placeholder="Password" #Password="ngModel" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)(?=.*[!@#\$%\^&\*]).{9,}$" />
                        <div *ngIf="f.submitted && Password.invalid" class="errors">
                          <div *ngIf="Password.errors && !Password.errors.required">
                            Minimum 9 characters with one uppercase, lowercase and special char and a digit.
                          </div>
                          <div *ngIf="Password.errors && Password.errors.required">
                            Password is required.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group required">
                        <label class="control-label">User Type</label>
                        <select class="form-control" required (change)="ChnageUserType(user.UserTypeID)" [(ngModel)]="user.UserTypeID"
                          placeholder="Select User Type" name="userTypeID" #userTypeID="ngModel">
                          <option value="">Select User Type</option>
                          <option *ngFor="let uType of userTypes;let i=index;" [value]="uType.ID">{{uType.Value}}</option>
                        </select>
                        <div *ngIf="f.submitted && userTypeID.invalid" class="errors">
                          <div *ngIf="userTypeID.errors.required">
                            Please select User type.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf='showLocalPortFlag'>
                      <div class="form-group required">
                        <label class="control-label">Local Port</label>
                        <ng-select required [items]="localPorts" bindLabel="Value" bindValue="ID" placeholder="Select Local Port"
                          [virtualScroll]="true" [(ngModel)]="user.LocalPortID" name="LocalPortID" #LocalPortID="ngModel">
                        </ng-select>
                        <!-- <select class="form-control" required [(ngModel)]="user.LocalPortID" name="LocalPortID"
                          #LocalPortID="ngModel">
                          <option value="">Select Local Port</option>
                          <option *ngFor="let lPort of localPorts;let i=index;" [value]="lPort.ID">{{lPort.Value}}</option>
                        </select> -->
                        <div *ngIf="f.submitted && LocalPortID.invalid" class="errors">
                          <div *ngIf="LocalPortID.errors.required">
                            Please select LocalPort.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6" *ngIf='showVendorFlag'>
                      <div class="form-group required">
                        <label class="control-label">Vendor</label>
                        <ng-select required [items]="vendors" bindLabel="VendorShortName" bindValue="VendorID"
                          placeholder="Select Vendor" [virtualScroll]="true" [(ngModel)]="user.VendorID" name="VendorID"
                          #VendorID="ngModel">
                        </ng-select>
                        <!-- <select class="form-control" required [(ngModel)]="user.VendorID" name="VendorID" #VendorID="ngModel">
                          <option value="">Select Vendor</option>
                          <option *ngFor="let vendor of vendors;let i=index;" [value]="vendor.VendorID">{{vendor.VendorShortName}}</option>
                        </select> -->
                        <div *ngIf="f.submitted && VendorID.invalid" class="errors">
                          <div *ngIf="VendorID.errors.required">
                            Please select Vendor.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-12">
        <div class="card-header">User Details</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group required">
                <label class="control-label">Phone</label>
                <input type="text" class="form-control" required [(ngModel)]="user.Phone" name="Phone" #Phone="ngModel"
                  placeholder="Phone" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" />
                <div *ngIf="f.submitted && Phone.invalid" class="errors">
                  <div *ngIf="Phone.errors && !Phone.errors.required">
                    Valid phone number is required.
                  </div>
                  <div *ngIf="Phone.errors && Phone.errors.required">
                    Phone number is required.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Alternate Phone</label>
                <input type="text" class="form-control" [(ngModel)]="user.AlternatePhone" name="AlternatePhone"
                  #AlternatePhone="ngModel" placeholder="Alternate Phone" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" />
                <div *ngIf="f.submitted && AlternatePhone.invalid" class="errors">
                  <div *ngIf="AlternatePhone.errors && !AlternatePhone.errors.required">
                    Valid AlternatePhone number is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Postal Code</label>
                <input type="text" class="form-control" [(ngModel)]="user.PostalCode" name="PostalCode" placeholder="PostalCode" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Province</label>
                <input type="text" class="form-control" [(ngModel)]="user.Province" name="Province" placeholder="Province" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" [(ngModel)]="user.City" name="City" placeholder="City" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Street</label>
                <input type="text" class="form-control" [(ngModel)]="user.Street" name="Street" placeholder="Street" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>FaxNumber</label>
                <input type="text" class="form-control" [(ngModel)]="user.FaxNumber" name="FaxNumber" placeholder="FaxNumber" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Profile Picture</label>
                <input type="file" class="form-control-file" (change)="onSelectFile($event)" [(ngModel)]="user.ProfilePicture"
                  name="profilepicture" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <button class="btn btn-info">{{subBtnName}}</button> &nbsp;
        <button type="reset" class="btn btn-default" id="Cancel">Reset</button>
      </div>
    </form>
  </section>
</div>