<section class="content-header">
    <h1>
        Place New Order
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Buying Date</label>
                                <div class="input-group datepicker-input">
                                    <input class="form-control" value="{{valuedate | date: 'yyyy/MM/dd'}}"
                                        name="dp" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()">
                                    <button class="input-group-addon" type="button">
                                         <span class="fa fa-calendar"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer Name</label>
                                <input type="text" class="form-control" required [(ngModel)]="order.CustomerName" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Company Phone</label>
                                <input type="text" class="form-control" required [(ngModel)]="order.CompanyNumber"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Company Mobile</label>
                                <input type="text" class="form-control" required [(ngModel)]="order.CompanyMobile"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Company Fax</label>
                                <input type="text" class="form-control" required [(ngModel)]="order.CompanyFax"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Company Address</label>
                                <input type="text" class="form-control" required [(ngModel)]="order.CompanyAddress" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Auction Name</label>
                                <input type="text" class="form-control" required [(ngModel)]="order.AuctionName"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Auction Membership Number</label>
                                <input type="text" class="form-control" required [(ngModel)]="order.AuctionMembershipNumber" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Lot Number</label>
                                <input type="text" class="form-control" required required [(ngModel)]="order.LotNumber"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Car Name</label>
                                <input type="text" class="form-control" required required [(ngModel)]="order.CarName"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Chassis Number</label>
                                <input type="text" class="form-control" required required [(ngModel)]="order.ChassisNumber"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tracking Digit (extracted from Chassis Number)</label>
                                <input type="text" class="form-control" required required [(ngModel)]="order.TrackingDigit"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Destination</label>
                                <input type="text" class="form-control" required [(ngModel)]="order.Destination"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Export Destination</label>
                                <input type="text" class="form-control" required [(ngModel)]="order.ExportDestination"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Location</label>
                                <input type="text" class="form-control" required [(ngModel)]="order.Location"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>POS Number</label>
                                <input type="text" class="form-control" required [(ngModel)]="order.POSNumber"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Plate Number</label>
                                <input type="text" class="form-control" required [(ngModel)]="order.PlateNumber"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Remarks</label>
                                <input type="text" class="form-control" required [(ngModel)]="order.Remarks"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Delivery Date/Time</label>
                                <div class="input-group datepicker-input">
                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                        name="dp" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" [(ngModel)]="order.DeliveryDateTime">
                                    <button class="input-group-addon" type="button">
                                         <span class="fa fa-calendar"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Payment Status</label>
                                <select class="form-control" required>
                                    <option>No payment </option>
                                    <option>Full payment</option>
                                    <option>Partial payment</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Order Type</label>
                                <select class="form-control" required>
                                    <option>Bid Order</option>
                                    <option>Vendor Order</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Order Status</label>
                                <select class="form-control" required>
                                    <option>Order Pending</option>
                                    <option>Order Created</option>
                                    <option>Order On Hold</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-info" id="PlaceOrder" (click)="addOrders()">Place Order</button>&nbsp;
                    <button type="button" class="btn btn-default" id="Cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</section>


