<form name="form" (ngSubmit)="f.form.valid && onSave(f)" #f="ngForm" novalidate>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Write Comment</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group required">
      <label class="control-label">Comment: </label>
      <textarea class="form-control" name="comment" pattern="^[^ ]+( +[^ ]+)*$" (keypress)="noSpace($event)" type="text"
        [(ngModel)]="comment" required #Comment="ngModel"></textarea>
      <div *ngIf="f.submitted && (Comment.invalid)" class="errors">
        <div *ngIf="Comment.errors && !Comment.errors.required">
          Comment is required.
        </div>
        <div *ngIf="Comment.errors && Comment.errors.required">
          Comment is required.
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(false)">Cancel</button>
  </div>
</form>