<div [@routerTransition]>
  <h2 class="text-muted">Dashboard</h2>
  <!-- <hr /> -->
  <!-- <div class="row">
      <div class="col-xl-6 col-lg-12">
          <app-stat [bgClass]="'info'" [icon]="'fa-shopping-cart'" [count]="26" [label]="'Bid Orders'"></app-stat>
      </div>

      <div class="col-xl-6 col-lg-12">
          <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'Vendor Orders'"></app-stat>
      </div>
      <div class="col-xl-3 col-lg-6">
          <app-stat [bgClass]="'warning'" [icon]="'fa-support'" [count]="12" [label]="'Cars in auction'"></app-stat>
      </div>
      <div class="col-xl-4 col-lg-8">
          <app-stat [bgClass]="'danger'" [icon]="'fa-tasks'" [count]="13" [label]="'Invoices'"></app-stat>
      </div>
  </div> -->
  <!-- <hr /> -->
  <div class="row">
        <div class="col col-lg-12">
            <div class="card mb-3">
                <div class="card-body">
                    <span class="filter"><b>Filter:</b></span>
                    <select class="form-control col-md-2" id="OrderStatus">
                        <option value="" disabled selected hidden>Order Status</option>
                        <option>Order Delivered at Local Port</option>
                        <option>Order Picked</option>
                    </select>
                    <input class="form-control col-md-2" id="PaymentStatus" type = "text" placeholder="Search" name="search"/>
                    <ngb-tabset>
                        <ngb-tab title="My Orders">
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col col-lg-12">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Order ID</th>
                                                    <th>Status</th>
                                                    <th>Item</th>
                                                    <th>Update Order Status</th>
                                                    <th>Update Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><a href="#">OR9842</a></td>
                                                    <td>
                                                        <span class="label label-success">Order Created</span>
                                                    </td>
                                                    <td>Call of Duty IV</td>
                                                    <td> <select class="form-control col-md-10">
                                                            <option>Order Picked</option>
                                                            <option>Order Delivered at Local Port</option>
                                                          </select></td>
                                                    <td>24-May-2018</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">OR1848</a></td>
                                                    <td>
                                                        <span class="label label-success">Order Created</span>
                                                    </td>
                                                    <td>Samsung Smart TV</td>
                                                    <td> <select class="form-control col-md-10">
                                                            <option>Order Picked</option>
                                                            <option>Order Delivered at Local Port</option>
                                                          </select></td>
                                                    <td>24-May-2018</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">OR7429</a></td>
                                                    <td>
                                                        <span class="label label-success">Order Created </span>
                                                    </td>
                                                    <td>iPhone 6 Plus</td>
                                                    <td> <select class="form-control col-md-10">
                                                            <option>Order Picked</option>
                                                            <option>Order Delivered at Local Port</option>
                                                          </select></td>
                                                    <td>24-May-2018</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">OR7429</a></td>
                                                    <td>
                                                        <span class="label label-success">Order Created
                                                        </span>
                                                    </td>
                                                    <td>Samsung Smart TV</td>
                                                    <td> <select class="form-control col-md-10">
                                                            <option>Order Picked</option>
                                                            <option>Order Delivered at Local Port</option>
                                                          </select></td>
                                                    <td>24-May-2018</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">OR1848</a></td>
                                                    <td>
                                                        <span class="label label-success">Order Created</span>
                                                    </td>
                                                    <td>Samsung Smart TV</td>
                                                    <td> <select class="form-control col-md-10">
                                                            <option>Order Picked</option>
                                                            <option>Order Delivered at Local Port</option>
                                                          </select></td>
                                                    <td>24-May-2018</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">OR7429</a></td>
                                                    <td>
                                                        <span class="label label-success">Order Created</span>
                                                    </td>
                                                    <td>iPhone 6 Plus</td>
                                                    <td> <select class="form-control col-md-10">
                                                            <option>Order Picked</option>
                                                            <option>Order Delivered at Local Port</option>
                                                          </select></td>
                                                    <td>28-May-2018</td>
                                                </tr>
                                                <tr>
                                                    <td><a href="#">OR9842</a></td>
                                                    <td>
                                                        <span class="label label-success">Order Created</span>
                                                    </td>
                                                    <td>Call of Duty IV</td>
                                                    <td> <select class="form-control col-md-10">
                                                            <option>Order Created</option>
                                                            <option>Order Picked</option>
                                                            <option>Order Delivered at Local Port</option>
                                                          </select></td>
                                                    <td>22-May-2018</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- <div class="col-md-6">
                                        <button class="btn btn-primary">Place New Order</button>
                                    </div> -->
                                    <div class="col-md-6">
                                        <!-- <div class="text-uppercase text-muted fs-12">maxSize = 5, rotate = false</div> -->
                                        <!-- <ngb-pagination class="pull-right" [collectionSize]="150" [(page)]="advancedPagination"
                                            [maxSize]="5" [boundaryLinks]="true"></ngb-pagination> -->
                                        <!-- <div class="alert alert-info">
                                    <b>Current page: </b>{{advancedPagination}}
                                  </div> -->
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>

  <!-- <div class="row">
          <div class="col col-sm-6">
              <div class="card mb-3">
                  <div class="card-header">
                      Monthly Total Orders
                  </div>
                  <div class="card-body">
                      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                      </canvas>
                  </div> 
              </div>
          </div>
          <div class="col col-sm-6">
              <div class="card mb-3">
                  <div class="card-header">
                      Orders Report
                  </div>
                  <div class="card-body"> 
                       <canvas baseChart height="180px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                      </canvas>
                 </div>
              </div>
          </div>
      </div>  -->
</div>
