<section class="content-header">
  <h3 class="card-top-header">Vehicle Detail</h3>
</section>
<section class="content">
  <div class="card mb-12">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="card bg-info text-white detail-card">
            <div class="card-body card-height">
              <h5 class="card-title">Vehicle Detail</h5>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Auction Name: </b>&nbsp;{{orderDetailObj.AuctionName}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Lot#: </b>&nbsp; {{orderDetailObj.Lot}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Vehicle Type: : </b>&nbsp; {{orderDetailObj.VehicleTypeName}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" *ngIf="orderDetailObj.TruckCategoryName">
                  <h6><b>Truck Category: </b>&nbsp; {{orderDetailObj.TruckCategoryName}}</h6>
                </div>
                <div class="col-md-12" *ngIf="!orderDetailObj.TruckCategoryName">
                  <h6><b>Truck Category: </b>&nbsp; --</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" *ngIf="orderDetailObj.TruckWeightName">
                  <h6><b>Truck Weight: </b>&nbsp;{{orderDetailObj.TruckWeightName}}</h6>
                </div>
                <div class="col-md-12" *ngIf="!orderDetailObj.TruckWeightName">
                  <h6><b>Truck Weight: </b>&nbsp; --</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12" *ngIf="orderDetailObj.SpecialType">
                  <h6><b>Special Type: </b>&nbsp; {{orderDetailObj.SpecialType}}</h6>
                </div>
                <div class="col-md-12" *ngIf="!orderDetailObj.SpecialType">
                  <h6><b>Special Type: </b>&nbsp; --</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Condition: </b>&nbsp; {{orderDetailObj.ConditionName}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Condition Details: </b>&nbsp; {{orderDetailObj.ConditionDetails}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Mode of Transportation: </b>&nbsp; {{orderDetailObj.TransportMode}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card  bg-secondary text-white">
            <div class="card-body card-height">
              <h5 class="card-title">Vendor Detail</h5>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Name: : </b>&nbsp; {{vendor.VendorName}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Phone: </b>&nbsp; {{vendor.VendorPhone}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Fax: </b>&nbsp; {{vendor.VendorFax}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h6><b>Address: </b>&nbsp; {{vendor.Province}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <!-- <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-sm-3" for="VehicleType">Vehicle Type:</label>
                <label class="col-sm-9" for="VehicleType">{{orderDetailObj.VehicleTypeName}}</label>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="FirstName">Truck Category:</label>
                <label class="col-sm-9" for="FirstName">{{orderDetailObj.TruckCategoryName}}</label>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="LastName">Truck Weight:</label>
                <label class="col-sm-9" for="LastName">{{orderDetailObj.TruckWeightName}}</label>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="UserType">Special Type:</label>
                <label class="col-sm-9" for="UserType">{{orderDetailObj.SpecialType}}</label>
              </div>
              <div class="form-group" *ngIf='showVendorFlag'>
                <label class="control-label col-sm-3" for="Vendor">Condition:</label>
                <label class="col-sm-9" for="Vendor">{{orderDetailObj.ConditionID}}</label>
              </div>
              <div class="form-group" *ngIf='showLocalPortFlag'>
                <label class="control-label col-sm-3" for="LocalPort">Condition Details:</label>
                <label class="col-sm-9" for="LocalPort">{{orderDetailObj.ConditionDetails}}</label>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="Phone">Mode of Transportation:</label>
                <label class="col-sm-9" for="Phone">{{orderDetailObj.TransportMode}}</label>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="AlternatePhone">Lot#:</label>
                <label class="col-sm-9" for="AlternatePhone">{{orderDetailObj.Lot}}</label>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="PostalCode">Auction Name:</label>
                <label class="col-sm-9" for="PostalCode">{{orderDetailObj.AuctionName}}</label>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="Province">Vendor Name:</label>
                <label class="col-sm-9" for="Province">{{vendor.VendorName}}</label>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="FaxNumber">Vendor Phone:</label>
                <label class="col-sm-9" for="FaxNumber">{{vendor.VendorPhone}}</label>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="City">Vendor Fax:</label>
                <label class="col-sm-9" for="City">{{vendor.VendorFax}}</label>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="Street">Vendor Address:</label>
                <label class="col-sm-9" for="Street">{{vendor.Province}}</label>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-10">
            <button routerLink="/dashboard/driver-dashboard" class="btn btn-default">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>