<div [@routerTransition]>
  <section class="content-header">
    <div class="row">
      <div class="col-md-9">
        <h3 class="card-top-header">Place New Transport Order</h3>
      </div>
      <!-- <div class="col-md-3">
        <img src='../../../../assets/icons/vendor_order_form.JPG'>
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-3">
        <h6><b><span *ngIf="userTypeId == 5">{{vendorName}} - </span>{{userName}}</b></h6>
      </div>
    </div>
    <br>
    <br>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
          <div class="box box-default">

            <div class="box-body">
              <div class="row" *ngIf="userTypeId == 1 || userTypeId == 2">
                <div class="col-md-3">
                  <div class="form-group required">
                    <label class="control-label">Vendor Name</label>
                    <select class="form-control" name="vendorname" [(ngModel)]="VendorID" required #vendorName="ngModel">
                      <option value="">Select Vendor Name</option>
                      <option *ngFor="let name of vendorList" [value]="name.ID">{{name.Value}}</option>
                    </select>
                    <div *ngIf="f.submitted && (vendorName.invalid)" class="errors">
                      <div *ngIf="vendorName.errors.required">
                        Vendor Name is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group required">
                    <label class="control-label">Auction Name</label>
                    <select placeholder="Select Auction Name" class="form-control" name="AuctionName" required
                      [(ngModel)]="vendorOrder.AuctionID" #AuctionName="ngModel" (change)="onSelectAuctionName($event.target.value)">
                      <option value="">Select Auction Name</option>
                      <option *ngFor="let i of Auction" [value]="i.AuctionID">{{i.AuctionName}}</option>
                    </select>
                    <div *ngIf="f.submitted && (AuctionName.invalid)" class="errors">
                      <div *ngIf="AuctionName.errors.required">
                        Auction Name is required.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group required">
                    <label class="control-label">Membership</label>
                    <input type="text" class="form-control" name="Membership" required [(ngModel)]="vendorOrder.MembershipNumber"
                      #membership="ngModel" />
                    <div *ngIf="f.submitted && (membership.invalid)" class="errors">
                      <div *ngIf="membership.errors.required">
                        Membership is required.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Pickup Location</label>
                    <input disabled type="text" class="form-control" name="AuctionLocation" required [(ngModel)]="auctionLocation"
                      #Auctionlocation="ngModel" />
                    <div *ngIf="f.submitted && (Auctionlocation.invalid)" class="errors">
                      <div *ngIf="Auctionlocation.errors.required">
                        Auction Location is required.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group required">
                    <label class="control-label">Auction Date</label>
                    <div class="input-group datepicker-input">
                      <input class="form-control" placeholder="Select Date" name="dp" [(ngModel)]="vendorOrder.AuctionDate"
                        (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker" #date="ngModel">
                      <div class="input-group-append">
                        <button class="input-group-addon" type="button" (click)="d.toggle()">
                          <span class="fa fa-calendar"></span>
                        </button>
                      </div>
                      <div *ngIf="f.submitted && (date.invalid)" class="errors">
                        <div *ngIf="date.errors.required">
                          Auction Date is required.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ngx-scroolbar>
                <div class="row" *ngFor="let row of  vendorOrder.OrderDetails;let i = index;">
                  <div class="col-md-2">
                    <div class="form-group required">
                      <label class="control-label" *ngIf="i == 0">Lot#</label>
                      <input type="text" class="form-control" name="lotNumber{{i}}" required [(ngModel)]="row.LotNumber"
                        #lotNumber="ngModel" />
                      <div *ngIf="f.submitted && (lotNumber.invalid)" class="errors">
                        <div *ngIf="lotNumber.errors.required">
                          Lot is required.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group required">
                      <label class="control-label" *ngIf="i == 0">Vehicle Name</label>
                      <input type="text" class="form-control" name="carName{{i}}" required [(ngModel)]="row.CarName"
                        #carName="ngModel" />
                      <div *ngIf="f.submitted && (carName.invalid )" class="errors">
                        <div *ngIf="carName.errors.required">
                          Vehicle Name is required.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group required">
                      <label class="control-label" *ngIf="i == 0">Chasis #</label>
                      <input type="text" class="form-control" name="chassisNumber{{i}}" required [(ngModel)]="row.ChassisNumber"
                        #chassisNumber="ngModel" />
                      <div *ngIf="f.submitted && (chassisNumber.invalid)" class="errors">
                        <div *ngIf="chassisNumber.errors.required">
                          Chasis is required.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col col-md-6">
                    <div><label *ngIf="i == 0">Destination Location</label></div>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group required">
                          <select class="form-control" [(ngModel)]='destinationLocationId[i].value' required name="destination{{i}}"
                            #destination="ngModel" (change)="onSelectDestination(i,$event.target.value)">
                            <option *ngFor="let j of DestinationLocation" [value]="j.value">{{j.name}}</option>
                          </select>
                          <div *ngIf="f.submitted && (destination.invalid)" class="errors">
                            <div *ngIf="destination.errors.required">
                              Destination Location is required.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="destinationLocationId[i].value === null" class="col-md-5">
                        <div class="form-group">
                          <select class="form-control" required name="DestinationLocationAddress{{i}}" (change)="onSelectAddress(i,$event.target.value)">
                            <option *ngFor="let local of LocalPort" [value]="local.ID">{{local.Value}}</option>
                          </select>
                        </div>
                      </div>
                      <div *ngIf=" destinationLocationId[i].value === '1'" class="col-md-5">
                        <div class="form-group">
                          <select class="form-control" required name="DestinationLocationAddress{{i}}" (change)="onSelectAddress(i,$event.target.value)">
                            <option *ngFor="let local of LocalPort" [value]="local.ID">{{local.Value}}</option>
                          </select>
                        </div>
                      </div>
                      <div *ngIf=" destinationLocationId[i].value ==='2'" class="col-md-5">
                        <div class="form-group">
                          <select class="form-control" required name="DestinationLocationAddress{{i}}" (change)="onSelectAddress(i,$event.target.value)">
                            <option *ngFor="let mdk of MDKGarageList" [value]="mdk.MDKGarageID">{{mdk.MDKGarageAddress}}</option>
                          </select>
                        </div>
                      </div>
                      <div *ngIf=" destinationLocationId[i].value === '3'" class="col-md-5" (change)="onSelectAddress(i,$event.target.value)">
                        <div class="form-group">
                          <select class="form-control" required name="DestinationLocationAddress{{i}}">
                            <option *ngFor="let auction of AuctionHouseList" [value]="auction.AuctionID">{{auction.AuctionHouseAddress}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-2" *ngIf=" i > 0">
                        <div class="form-group">
                          <i (click)="onRemoveRow(i)" class="fa fa-close" style="font-size:24px;cursor: pointer;"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ngx-scroolbar>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <span class="btn btn-link" (click)="onAddRow()">Add Row</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="box-footer footer gap">
              <button class="btn btn-info">Place Order</button>&nbsp;
              <button type="button" class="btn btn-default" (click)="onDashboard()">Dashboard</button>&nbsp;&nbsp;&nbsp;
              <button type="reset" class="btn btn-default" id="btnReset" (click)="onReset(f)">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>