<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>TMS</h1>
            <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" name="userName" [(ngModel)]="user.Email" #username="ngModel" class="form-control input-underline input-lg"
                            required placeholder="Email">
                        <div *ngIf="f.submitted && username.invalid" class="errors">
                            <div *ngIf="username.errors.required">
                                Email is required.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password" name="pass" [(ngModel)]="user.Password" #password="ngModel" class="form-control input-underline input-lg"
                            required placeholder="Password">
                        <div *ngIf="f.submitted && password.invalid" class="errors">
                            <div *ngIf="password.errors.required">
                                Password is required.
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn rounded-btn"> Log in </button>
                &nbsp;
                <a class="btn rounded-btn">Register</a>
            </form>
        </div>
    </div>
</div>