/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~ngx-toastr/toastr.css";
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables
@import "~ngx-toastr/toastr-bs4-alert";
@import "~@ng-select/ng-select/themes/default.theme.css";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}

.errors {
    color: red;
    font-size: 13px;
}