<!-- <div [@routerTransition]>
    <h2 class="text-muted">Dashboard</h2>
    <hr />
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'info'" [icon]="'fa-shopping-cart'" [count]="26" [label]="'Bid Orders'"></app-stat>
        </div>

        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'Vendor Orders'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-support'" [count]="12" [label]="'Cars in auction'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-tasks'" [count]="13" [label]="'Invoices'"></app-stat>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col col-lg-12">
            <div class="card mb-3">
                <div class="card-body"> 
                    <span class="filter"><b>Filters:</b></span>      
                    <select class="form-control col-md-2" id="OrderStatus">
                       <option value="" disabled selected hidden>Order Status</option>
                       <option >Order Pending</option>
                       <option >Order Created</option>
                       <option >Order On Hold</option>
                   </select>
                   <select class="form-control col-md-2" id="PaymentStatus">
                        <option value="" disabled selected hidden>Payment Status</option>
                        <option >No Payment</option>
                        <option >Full Payment</option>
                        <option >Partial Payment</option>
                    </select>
                    <ngb-tabset>
                        <ngb-tab title="Bid Orders">
                            <ng-template ngbTabContent>
                                <dashboard-bid-orders></dashboard-bid-orders>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Vendor Orders">
                            <ng-template ngbTabContent>
                                <dashboard-vendor-orders></dashboard-vendor-orders>
                            </ng-template>
                        </ngb-tab>                   
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        Monthly Total Orders
                    </div>
                    <div class="card-body">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                        </canvas>
                    </div> 
                </div>
            </div>
            <div class="col col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        Orders Report
                    </div>
                    <div class="card-body"> 
                         <canvas baseChart height="180px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                        </canvas>
                   </div>
                </div>
            </div>
        </div> 
</div> -->