<div>
  <section class="content-header">
    <h3 class="card-top-header">List of Invoices</h3>
  </section>
  <div class="row">
    <div class="col col-lg-12">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col col-lg-12 table-responsive">
              <!-- <input #search type="text" class="form-control col-md-3 search" name="FirstName" (keyup)="onSearch(search.value)"
                  placeholder="Search..." required />
                  -->
              <ng2-smart-table class="table" [settings]="settings" [source]="source">
              </ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>