a.btn.btn-link {
    color: #0056b3;
}

a.btn.btn-link:hover {
    text-decoration: underline;
}

:host /deep/ ng2-smart-table ng2-smart-table-pager {
    float: right;
}

.page {
    font-size: smaller;
    float: left;
    margin-left: 26px;
    margin-top: 14px;
}

:host /deep/ ng2-smart-table {
    .ng2-smart-row {
        &.selected {
            background: none !important;
        }
    }
}

.font-text {
    font-size: 1em !important;
}