<div class="row">
  <div class="col col-lg-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Status</th>        
          <th>Item</th>
          <th>Update Order Status</th>
          <th>Update Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">OR9842</a></td>
          <td>
              <span class="label label-success">Orders Pending</span>  
          </td>
          <td>Call of Duty IV</td>
          <td><select class="form-control col-md-10">
              <option>Order Created</option>
            </select>
          </td>
          <td>24-May-2018</td>
        </tr>
        <tr>
          <td><a href="#">OR1848</a></td>
          <td>
              <span class="label label-warning">Order Created</span>
          </td>
          <td>Samsung Smart TV</td>
          <td> <select class="form-control col-md-10">
              <option>Order Created</option>
            </select></td>
          <td>24-May-2018</td>
        </tr>
        <tr>
          <td><a href="#">OR7429</a></td>
          <td>
              <span class="label label-danger">Order Picked </span> 
          </td>
          <td>iPhone 6 Plus</td>
          <td> <select class="form-control col-md-10">
              <option>Order Created</option>
            </select></td>
          <td>24-May-2018</td>
        </tr>
        <tr>
          <td><a href="#">OR7429</a></td>
          <td>
              <span class="label label-info">Order Delivered at Local Port </span>
          </td>
          <td>Samsung Smart TV</td>
          <td><select class="form-control col-md-10">
              <option>Order Created</option>
            </select></td>
          <td>24-May-2018</td>
        </tr>
        <tr>
          <td><a href="#">OR1848</a></td>
          <td>
              <span class="label label-primary">Order Received at Local Port</span>
          </td>
          <td>Samsung Smart TV</td>
          <td> <select class="form-control col-md-10">
              <option>Order Created</option>
            </select></td>
          <td>24-May-2018</td>
        </tr>
        <tr>
          <td><a href="#">OR7429</a></td>
          <td>
              <span class="label label-warning">Order Dispatched to Destination Port</span>
          </td>
          <td>iPhone 6 Plus</td>
          <td> <select class="form-control col-md-10">
              <option>Order Created</option>
            </select></td>
          <td>28-May-2018</td>
        </tr>
        <tr>
          <td><a href="#">OR9842</a></td>
          <td>
              <span class="label label-success">Order Received at Destination Port</span>
          </td>
          <td>Call of Duty IV</td>
          <td> <select class="form-control col-md-10">
              <option>Order Created</option>
            </select></td>
          <td>22-May-2018</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <button class="btn btn-primary">Place New Order</button>
  </div>
  <div class="col-md-6">
    <!-- <div class="text-uppercase text-muted fs-12">maxSize = 5, rotate = false</div> -->
    <ngb-pagination class="pull-right" [collectionSize]="150" [(page)]="advancedPagination" [maxSize]="5"
      [boundaryLinks]="true"></ngb-pagination>
    <!-- <div class="alert alert-info">
      <b>Current page: </b>{{advancedPagination}}
    </div> -->
  </div>
</div>