<div [@routerTransition]>
  <app-loader></app-loader>
  <section class="content-header">
    <h3 class="card-top-header">View User Information</h3>
  </section>
  <section class="content">
    <div class="card mb-12">
      <div class="card-body">
        <div class="row">
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label col-sm-3" for="Email">Email:</label>
                  <label class="col-sm-9" for="Email">{{userModal.Email}}</label>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3" for="FirstName">First Name:</label>
                  <label class="col-sm-9" for="FirstName">{{userModal.FirstName}}</label>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3" for="LastName">Last Name:</label>
                  <label class="col-sm-9" for="LastName">{{userModal.LastName}}</label>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3" for="UserType">UserType:</label>
                  <label class="col-sm-9" for="UserType">{{userModal.UserType}}</label>
                </div>
                <div class="form-group" *ngIf='showVendorFlag'>
                  <label class="control-label col-sm-3" for="Vendor">Vendor:</label>
                  <label class="col-sm-9" for="Vendor">{{userModal.Vendor}}</label>
                </div>
                <div class="form-group" *ngIf='showLocalPortFlag'>
                  <label class="control-label col-sm-3" for="LocalPort">Local Port:</label>
                  <label class="col-sm-9" for="LocalPort">{{userModal.LocalPort}}</label>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3" for="Phone">Phone:</label>
                  <label class="col-sm-9" for="Phone">{{userModal.Phone}}</label>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3" for="AlternatePhone">AlternatePhone:</label>
                  <label class="col-sm-9" for="AlternatePhone">{{userModal.AlternatePhone}}</label>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3" for="PostalCode">PostalCode:</label>
                  <label class="col-sm-9" for="PostalCode">{{userModal.PostalCode}}</label>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3" for="Province">Province:</label>
                  <label class="col-sm-9" for="Province">{{userModal.Province}}</label>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3" for="City">City:</label>
                  <label class="col-sm-9" for="City">{{userModal.City}}</label>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3" for="Street">Street:</label>
                  <label class="col-sm-9" for="Street">{{userModal.Street}}</label>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3" for="FaxNumber">FaxNumber:</label>
                  <label class="col-sm-9" for="FaxNumber">{{userModal.FaxNumber}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <img src="{{userModal.ProfilePicture}}" alt="User" height="100" width="100">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-10">
                <!-- routerLink="/user/user-list" -->
              <button routerLink="/user/edit-user/{{userModal.UserId}}" class="btn btn-info">Edit User</button> &nbsp;
              <button (click)="onOk()" class="btn btn-default">Ok</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>