<div [@routerTransition]>
  <h2 class="text-muted">Dashboard</h2>
  <hr />
  <div class="row">
    <div class="col-xl-4 col-lg-6">
        <app-stat [bgClass]="'info'" [icon]="'fa-shopping-cart'" [count]="26" [label]="'Bid Orders'"></app-stat>
    </div>

    <div class="col-xl-4 col-lg-6">
        <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'Vendor Orders'"></app-stat>
    </div>
    
    <div class="col-xl-4 col-lg-6">
        <app-stat [bgClass]="'danger'" [icon]="'fa-tasks'" [count]="13" [label]="'Invoices'"></app-stat>
    </div>
</div>
  <div class="row">
    <div class="col col-lg-12 mb-5 mt-2">
      
        <div class="">
          <span class="filter"><b>Filters:</b></span>
          <select class="form-control col-md-2" id="OrderStatus">
            <option value="" disabled selected hidden>Order Status</option>
            <option>Order Pending</option>
            <option>Order Recieved at Destination Port</option>
          </select>
          <input class="form-control col-md-2" id="PaymentStatus" type = "text" placeholder="Search" name="search"/>
        </div>
      
    </div>

  </div>
  <div class="row">
    <div class="col col-lg-12">
      <div class="row">
        <div class="col col-lg-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Order ID</th>
                <th>Status</th>        
                <th>Item</th>
                <th>Update Order Status</th>
                <th>Update Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#">OR9842</a></td>
                <td>
                  <span class="label label-primary">Order Received at Local Port</span>
                </td>
                <td>Employee Order 1</td>
                <td><select class="form-control col-md-10">
                    <option>Order Recieved at Destination Port</option>
                  </select>
                </td>
                <td>24-May-2018</td>
              </tr>
              <tr>
                <td><a href="#">OR1848</a></td>
                <td>
                  <span class="label label-primary">Order Received at Local Port</span>
                </td>
                <td>Employee Order 2</td>
                <td> <select class="form-control col-md-10">
                    <option>Order Recieved at Destination Port</option>
                  </select></td>
                <td>24-May-2018</td>
              </tr>
              <tr>
                <td><a href="#">OR7429</a></td>
                <td>
                  <span class="label label-primary">Order Received at Local Port</span>
                </td>
                <td>iPhone 6 Plus</td>
                <td> <select class="form-control col-md-10">
                    <option>Order Recieved at Destination Port</option>
                  </select></td>
                <td>24-May-2018</td>
              </tr>
              <tr>
                <td><a href="#">OR7429</a></td>
                <td>
                  <span class="label label-primary">Order Received at Local Port</span>
                </td>
                <td>Samsung Smart TV</td>
                <td><select class="form-control col-md-10">
                    <option>Order Recieved at Destination Port</option>
                  </select></td>
                <td>24-May-2018</td>
              </tr>
              <tr>
                <td><a href="#">OR1848</a></td>
                <td>
                    <span class="label label-primary">Order Received at Local Port</span>
                </td>
                <td>Samsung Smart TV</td>
                <td> <select class="form-control col-md-10">
                    <option>Order Recieved at Destination Port</option>
                  </select></td>
                <td>24-May-2018</td>
              </tr>
              <tr>
                <td><a href="#">OR7429</a></td>
                <td>
                    <span class="label label-primary">Order Received at Local Port</span>
                </td>
                <td>iPhone 6 Plus</td>
                <td> <select class="form-control col-md-10">
                    <option>Order Recieved at Destination Port</option>
                  </select></td>
                <td>28-May-2018</td>
              </tr>
              <tr>
                <td><a href="#">OR9842</a></td>
                <td>
                  <span class="label label-primary">Order Received at Local Port</span>
                </td>
                <td>Call of Duty IV</td>
                <td> <select class="form-control col-md-10">
                    <option>Order Recieved at Destination Port</option>
                  </select></td>
                <td>22-May-2018</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
          <!-- <div class="text-uppercase text-muted fs-12">maxSize = 5, rotate = false</div> -->
          <ngb-pagination class="pull-right" [collectionSize]="150" [(page)]="advancedPagination" [maxSize]="5"
            [boundaryLinks]="true"></ngb-pagination>
          <!-- <div class="alert alert-info">
            <b>Current page: </b>{{advancedPagination}}
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>