<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    {{confirmMessage}}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(true)">Confirm</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(false)">Cancel</button>
</div>

<!-- <h1 matDialogTitle>Confirm</h1>
<div mat-dialog-content>{{confirmMessage}}</div>
<div mat-dialog-actions class="pt-24">
    <button mat-raised-button class="mat-accent mr-16" (click)="activeModal.close(true)">Confirm</button>
    <button mat-button (click)="activeModal.close(false)">Cancel</button>
</div> -->