<section class="content-header">
  <h3 class="card-top-header">Pictures</h3>
</section>
<section class="content">
  <div class="card mb-12">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <h6><b>Vehicle Name : </b>{{vehicleObj.VehicleName}}</h6>
              </div>
              <div class="form-group">
                <h6><b>Chassis #: </b>{{vehicleObj.Chasis}}</h6>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" (click)="fileInput.click()">Take Picture</button>
                <input style="display: none" capture="camera" accept="image/*" type="file" class="form-control-file"
                  (change)="onSelectFile($event)" #fileInput />
                &nbsp;<button class="btn btn-primary" routerLink='/dashboard'>Dashboard</button>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xl-4 col-lg-8" *ngFor="let image of imageList; let j = index">
              <div class="card">
                <img class="card-img-top" src="{{apiUrl}}{{image.PicturePath}}" alt="Card image cap">
                <div class="card-body text-center">
                  <div class="row m-b" *ngIf="image.UserName== currentUser.User.FirstName + ' ' + currentUser.User.LastName">
                    <div class="col-md-10 col-9">
                      <input type="text" class="form-control" value="{{image.PictureComment}}" [(ngModel)]="image.PictureComment">
                    </div>
                    <div class="col-md-2 col-3">
                      <button type="button" class="btn btn-primary" (click)="updateComments(image)">Ok</button>
                    </div>
                  </div>
                  <p class="card-text alert alert-{{bgClass[j]}}" *ngIf="!(image.UserName== currentUser.User.FirstName + ' ' + currentUser.User.LastName) && image.PictureComment">
                    {{image.PictureComment}}</p>
                  <p><b>By : &nbsp; {{image.UserName}} on {{image.CreatedDate}}</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="row" *ngIf="imageList.length">
        <div class="col-md-10">
          <button routerLink="/dashboard" class="btn btn-primary">Dashboard</button>
        </div>
      </div>
    </div>
  </div>
</section>