img {
    height: 250px;
    object-fit: contain;
}
.card{
    border: 0px;
}
.card-body{
 padding-left: 0px;
 padding-right: 0px;   
}
.text-center{
    text-align: center;
}
.m-b{
    margin-bottom: 15px;
}