<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Change Invoice Status</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- <select class="form-control" [(ngModel)]="orderStatusId"> -->
  <div class="form-group">
    <select class="form-control" [(ngModel)]="invoiceStatusId" (change)="onSelect($event.target.value)">
      <option *ngFor="let status of invoiceStatusList" [value]="status.ID">{{status.Value}}</option>
    </select>
  </div>
  <div class="form-group">
    <!-- <label>Payment: </label> -->
    <input class="form-control" type="text" (keypress)="numberOnly($event)" placeholder="Payment" [(ngModel)]="amount">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="onUpdate()">Update</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(false)">Cancel</button>
</div>