<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Change {{titleFrom}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close(false)">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <!-- <select class="form-control" [(ngModel)]="orderStatusId"> -->
  <select class="form-control" [(ngModel)]="orderStatusId.ID">
    <option *ngFor="let status of orderStatusList" [value]="status.ID">{{status.Value}}</option>
  </select>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(orderStatusId)">Update</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(false)">Cancel</button>
</div>
