<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <div class="nested-menu">
            <!-- <a class="list-group-item">
                <i class="fa fa-plus" (click)="addExpandClass('pagesdashboard')"></i>&nbsp;
                <span routerLink="/dashboard">{{ 'Dashboard' | translate }}</span>
            </a> -->
            <a *ngIf="this.currentUser.isAdmin || this.currentUser.isManager" routerLink="/dashboard/manager-dashboard"
                [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-monument"></i>&nbsp;
                <span>Dashboard</span>
            </a>
            <a *ngIf="this.currentUser.isDriver" routerLink="/dashboard/driver-dashboard" [routerLinkActive]="['router-link-active']"
                class="list-group-item">
                <i class="fa fa-monument"></i>&nbsp;
                <span>Dashboard</span>
            </a>
            <a *ngIf="this.currentUser.isLocalPortEmployee" routerLink="/dashboard/port-employee" [routerLinkActive]="['router-link-active']"
                class="list-group-item">
                <i class="fa fa-monument"></i>&nbsp;
                <span>Dashboard</span>
            </a>
            <a *ngIf="this.currentUser.isVendor" routerLink="/dashboard/vendor-dashboard" [routerLinkActive]="['router-link-active']"
                class="list-group-item">
                <i class="fa fa-monument"></i>&nbsp;
                <span>Dashboard</span>
            </a>
            <a *ngIf="this.currentUser.isVendor" routerLink="/neworders/vendor-order" [routerLinkActive]="['router-link-active']"
                class="list-group-item">
                <i class="fa fa-monument"></i>&nbsp;
                <span>Place Order</span>
            </a>
            <a *ngIf="this.currentUser.isVendor" (click)="onVendorInvoice()" [routerLinkActive]="['router-link-active']"
                class="list-group-item">
                <i class="fa fa-monument"></i>&nbsp;
                <span>Invoices</span>
            </a>
        </div>
        <div class="nested-menu" *ngIf="this.currentUser.isAdmin || this.currentUser.isManager">
            <a class="list-group-item">
                <i class="fa fa-plus" (click)="addExpandClass('pagesorder')"></i>&nbsp;
                <span>Orders</span>
                <!-- routerLink="/neworders/order-list" -->
            </a>
            <li class="nested" [class.expand]="showMenu === 'pagesorder'">
                <ul class="submenu">
                    <li>
                        <!-- <a routerLink="/neworders/new-order" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Place New Order' | translate }}</span>
                        </a> -->
                        <a routerLink="/neworders/vendor-order" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>Place Order</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu" *ngIf="this.currentUser.isAdmin || this.currentUser.isManager">
            <a class="list-group-item">
                <i class="fa fa-plus" (click)="addExpandClass('pagesuser')"></i>&nbsp;
                <span routerLink="/user/user-list">Users</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pagesuser'">
                <ul class="submenu">
                    <!-- <li>
                        <a routerLink="/user/viewUser"  [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'View Users' | translate }}</span>
                        </a>
                    </li> -->
                    <li>
                        <a routerLink="/user/add-user" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>Add User</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu" *ngIf="this.currentUser.isAdmin || this.currentUser.isManager">
            <a class="list-group-item">
                <i class="fa fa-plus" (click)="addExpandClass('pagesvendor')"></i>&nbsp;
                <span routerLink="/vendor/vendor-list">Vendors</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pagesvendor'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/vendor/add-vendor" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>Add Vendor</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu" *ngIf="this.currentUser.isAdmin || this.currentUser.isManager">
            <a class="list-group-item">
                <i class="fa fa-monument"></i>&nbsp;
                <span routerLink="/invoice/invoice-list">Invoices</span>
            </a>
            <!-- (click)="addExpandClass('pagesinvoice')" -->
            <!-- <li class="nested" [class.expand]="showMenu === 'pagesinvoice'">
                    <ul class="submenu">
                        <li>
                            <a routerLink="/vendor/add-vendor" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <i class="fa fa-monument"></i>&nbsp;
                                <span>Add Invoice</span>
                            </a>
                        </li>
                    </ul>
                </li> -->
        </div>
        <!-- <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pagesreminder')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>Reminders</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pagesreminder'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>Add Reminder</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div> -->
        <!-- <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>Reports</span>
        </a> -->

        <div class="header-fields">
            <!-- <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a> -->
            <!-- <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'HEADER.LANGUAGE' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'HEADER.OPTIONS.ENGLISH' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'HEADER.OPTIONS.JAPANESE' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div> -->
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp;{{username}}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="onProfile()">
                                <span><i class="fa fa-fw fa-user"></i> Profile</span>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> Settings</span>
                            </a>
                        </li> -->
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>Collapse Sidebar</span>
    </div>
</nav>