<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Comments</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group" *ngFor="let comment of orderComments; let j = index">
      <p class="card-text alert alert-{{bgClass[j]}}">
          {{comment.Comment}}</p>
        <p><b>By : &nbsp; {{comment.UserName}} on {{comment.CommentsDateTime}}</b></p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
</div>