.filter {
    margin-left: 55%;
    position: absolute;
    margin-top: 1%;

}

.search {
    float: right;
    margin-bottom: 5px;
}

:host /deep/ ng2-smart-table ng2-smart-table-pager {
    float: right;
}

a.btn.btn-link {
    color: #0056b3;
}

a.btn.btn-link:hover {
    text-decoration: underline;
}

a.label.label-warning.ng-star-inserted {
    color: #fff;
    cursor: pointer;
}

a.bg-info:hover {
    background-color: #17a2b8 !important;
}

a.bg-success:hover {
    background-color: #28a745 !important;
}

a.bg-warning:hover {
    background-color: #ffc107 !important;
}

a.bg-primary:hover {
    background-color: #007bff !important;
}

.font-text {
    font-size: 1em !important;
}

a.bg-chocolate {
    background-color: chocolate !important;
}