<div [@routerTransition]>
  <div class="row">
    <div class="col-md-8">
      <h3 class="text-muted">Manager Dashboard</h3>
    </div>
    <!-- <div class="col-md-4">
      <img src='assets/icons/manager_dashboard.JPG'>
    </div> -->
  </div>
  <!-- <h2 class="text-muted">Manager Dashboard</h2> -->
  <hr />
  <div class="row">
    <div class="col-xl-2 col-lg-4">
      <app-stat [bgClass]="'info'" [icon]="'fa-folder'" [count]="pendingOrdersCount" [label]="'Pending Orders'"></app-stat>
    </div>

    <div class="col-xl-2 col-lg-4">
      <app-stat [bgClass]="'success'" [icon]="'fa-car'" [count]="pendingCarCount" [label]="'Pending Cars'"></app-stat>
    </div>
    <div class="col-xl-2 col-lg-4">
      <app-stat [bgClass]="'warning'" [icon]="'fa-truck'" [count]="pendingTruckCount" [label]="'Pending Trucks'"></app-stat>
    </div>
    <div class="col-xl-2 col-lg-4">
      <app-stat [bgClass]="'danger'" [icon]="'fa-tasks'" [count]="pendingSpecialCount" [label]="'Pending Special'"></app-stat>
    </div>
    <!-- <div class="col-xl-2 col-lg-4">
      <app-stat [bgClass]="'success'" [icon]="'fa-tasks'" [count]="14" [label]="'Pending Task'"></app-stat>
    </div> -->
    <div class="col-xl-2 col-lg-4">
      <app-stat [bgClass]="'success'" [icon]="'fa-tasks'" [count]="pendingInvoices" [label]="'Pending Invoices'"></app-stat>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col col-lg-12">
      <div class="card mb-3">
        <div class="card-body">
          <!-- <span><b>Filters:</b></span> -->

          <div class="row">
            <div class="col col-lg-12 table-responsive">
              <div class="row">
                <div class="col-md-2">
                  <select class="form-control" [(ngModel)]="VendorID" (change)="onFilter()">
                    <option value="" disabled selected hidden>Select Vendor Name</option>
                    <option *ngFor="let name of vendorList" [value]="name.ID">{{name.Value}}</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <select class="form-control" [(ngModel)]="AuctionID" (change)="onFilter()">
                    <option value="" disabled selected hidden>Select Auction Name</option>
                    <option *ngFor="let name of auctionList" [value]="name.AuctionID">{{name.AuctionName}}</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <div class="input-group datepicker-input">
                    <input class="form-control" placeholder="Select Date" name="dp" [(ngModel)]="orderDate" (click)="d.toggle()"
                      ngbDatepicker #d="ngbDatepicker" (ngModelChange)="onFilter(orderDate)">
                    <div class="input-group-append">
                      <button class="input-group-addon" type="button" (click)="d.toggle()">
                        <span class="fa fa-calendar"></span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <button type="button" class="form-control" (click)="onResetFilter()">Reset Filter</button>
                </div>
                <div class="col-md-4">
                  <input #search type="text search" class="form-control search" name="FirstName" (keyup)="onSearch(search.value)"
                    placeholder="Filter Results" />
                </div>
              </div>
              <br>
              <ng2-smart-table class="table table-hover" [settings]="settings" [source]="source">
              </ng2-smart-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>