.invoice-text {
    background-color: #b9d7e2;
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    ;
}

.text-center {
    padding-top: 20px;
}
.logo {
    float: right;
    height: 100%;
    width: 50%;
}
.table-footer{
    float: right;
}
.font-text {
    font-size: 0.875em !important;
}