<div [@routerTransition]>
  <section class="content-header">
    <div class="row">
      <div class="col-md-9">
        <div class="col">
          <div class="row">
            <div class="col-md-12">
              <h3 class="card-top-header">Create New Invoice for {{vendorModal.VendorName}}</h3>
            </div>
          </div>
          <div class="row invoice-text">
            <div class="col-md-12">
              <div class="form-group">
                <label class="text-center">This Vendor is set for {{vendorModal.PaymentSchedule}} Payment Schedule.</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <img src="{{vendorModal.VendorLogo}}" class="logo">
      </div>
    </div>
    <br>
  </section>
  <br>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
          <div class="box box-default">
            <div class="box-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label><b>Select Order Date to Generate Invoice</b></label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group datepicker-input">
                    <label><b>From :</b></label>&nbsp;&nbsp;
                    <input class="form-control" name="dpFrom" [(ngModel)]="startOrderDate" (click)="dFrom.toggle()"
                      ngbDatepicker #dFrom="ngbDatepicker" (ngModelChange)="onDate(startOrderDate, true)">
                    <div class="input-group-append">
                      <button class="input-group-addon" type="button" (click)="dFrom.toggle()">
                        <span class="fa fa-calendar"></span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group datepicker-input">
                    <label><b>To :</b></label>&nbsp;&nbsp;
                    <input class="form-control" name="dpTo" [(ngModel)]="endOrderDate" (click)="dTo.toggle()"
                      ngbDatepicker #dTo="ngbDatepicker" (ngModelChange)="onDate(endOrderDate, false)">
                    <div class="input-group-append">
                      <button class="input-group-addon" type="button" (click)="dTo.toggle()">
                        <span class="fa fa-calendar"></span>
                      </button>
                    </div>
                  </div>

                </div>
                <div class="col-md-2">
                  <button type="button" class="btn btn-default" (click)="onReset()">Reset Date</button>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col col-lg-12">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col col-lg-12 table-responsive">
                          <ng2-smart-table class="table table-hover" [settings]="settings" [source]="source"
                            (userRowSelect)="onUserRowSelect($event)" #table>
                          </ng2-smart-table>
                          <div class="col" *ngIf="source.count()">
                            <div class="row">
                              <div class="col-md-10 col-6" style="text-align: right;">
                                <label class="font-text">Total Price: </label>
                              </div>
                              <div class="col-md-2 col-6" style="text-align: center;">
                                {{currentTotal}}
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-10 col-6" style="text-align: right;">
                                <label class="font-text">Claims Adjustment : </label>
                              </div>
                              <div class="col-md-2 col-6">
                                <label style="display: inline-block;">-</label>
                                <input type="text" class="form-control col-md-9 col-6" name="adjust" (keyup)="onAdjustment()"
                                  (keypress)="restrictMinus($event)" [(ngModel)]="adjustments" style="text-align: center;display: inline-block;margin-left: 5px;" />
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-10 col-6" style="text-align: right;">
                                <label class="font-text">Total Price: </label>
                              </div>
                              <div class="col-md-2 col-6" style="text-align: center;">
                                ¥ {{totalPrice}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- <div class="col-md-4">
                    <div class="form-group">
                      <label><b>Select Order Date to Generate Invoice</b></label>
                    </div>
                  </div> -->
                <div class="col-md-6">
                  <div class="input-group datepicker-input">
                    <label><b>Invoice Due Date :</b></label>&nbsp;&nbsp;
                    <input class="form-control" name="duedate" [(ngModel)]="dueDate" (click)="dueTo.toggle()"
                      ngbDatepicker #dueTo="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="input-group-addon" type="button" (click)="dueTo.toggle()">
                        <span class="fa fa-calendar"></span>
                      </button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <br>
            <div class="box-footer footer">
              <button class="btn btn-info">Send Invoice</button>&nbsp;
              <button type="button" class="btn btn-default" (click)="onCancel(f)">Cancel</button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </section>
</div>