<div [@routerTransition]>
  <section class="content-header" class="doNotPrint">
    <div class="row">
      <div class="col-md-12">
        <h3 class="card-top-header">Invoice</h3>
      </div>
    </div>
    <br>
  </section>
  <br>
  <section class="content">
    <div class="row">
      <div class="col-md-12">

        <div class="box box-default">
          <div class="box-body">
            <div class="row">
              <div class="col col-md-5">
                <div class="row">
                  <label class="col-md-12"><b>From :</b></label>
                </div>
                <div class="row">
                  <div class="col-md-4 doNotPrint">
                    <img src="assets/icons/MDKLogo.JPG" class="imageClass">
                  </div>
                  <div class="col col-md-8">
                    <div class="row col-md-12">
                      <b>MDK CORPORATION JAPAN</b>
                    </div>
                    <div class="row col-md-12">
                      <span>934-0038 TOYAMAKEN IMIZUSHI TSUBATAE 678-1, JAPAN</span>
                    </div>
                    <div class="row col-md-12">
                      <span><b>Phone:</b> +81766848166</span>
                    </div>
                    <div class="row col-md-12">
                      <span><b>Fax:</b> +81766848166</span>
                    </div>
                    <div class="row col-md-12">
                      <span><b>Email: </b>info@mdkjapan.com</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <label class="col-md-12"><b>To :</b></label>
                </div>
                <div class="row">
                  <div class="col-md-4 doNotPrint">
                    <img src="{{vendorModal.VendorLogo}}" class="imageClass">
                  </div>
                  <div class="col col-md-8">
                    <div class="row col-md-12">
                      <b>{{vendorModal.VendorName}}</b>
                    </div>
                    <div class="row col-md-12">
                      <span>{{vendorModal.Province}}<span *ngIf="vendorModal.Province && vendorModal.PostalCode">,</span>
                        {{vendorModal.PostalCode}}</span>
                    </div>
                    <div class="row col-md-12">
                      <span><b>Phone:</b> {{vendorModal.VendorPhone}}</span>
                    </div>
                    <div class="row col-md-12">
                      <span><b>Fax:</b> {{vendorModal.VendorFax}}</span>
                    </div>
                    <!-- <div class="row">
                      <span>Email: {{vendorModal.VendorName}}</span>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="col col-md-3">
                <div class="row">
                  &nbsp;&nbsp;&nbsp;
                </div>
                <div class="row">
                  <span *ngIf="invoice.InvoiceStatusID"><b>Invoice#:</b> {{invoice.InvoiceID}}</span>
                  <span *ngIf="!invoice.InvoiceStatusID"><b>Invoice#:</b> &nbsp; --</span>
                </div>
                <div class="row">
                  <span *ngIf="invoice.InvoiceDateTime"><b>Invoice Date: </b>{{invoice.InvoiceDateTime}}</span>
                  <span *ngIf="!invoice.InvoiceDateTime"><b>Invoice Date: &nbsp; </b>--</span>
                </div>
                <div class="row">
                  <span *ngIf="invoice.TotalCost"><b>Amount:</b>{{invoice.TotalCost}}</span>
                  <span *ngIf="!invoice.TotalCost"><b>Amount:</b> &nbsp;--</span>
                </div>
                <div class="row">
                  <span *ngIf="invoice.InvoiceDueDate"><b>Payment Due:</b>{{invoice.InvoiceDueDate}}</span>
                  <span *ngIf="!invoice.InvoiceDueDate"><b>Payment Due:</b> &nbsp;--</span>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col col-lg-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col col-lg-12 table-responsive">
                        <ng2-smart-table class="table table-hover" [settings]="settings" [source]="source">
                        </ng2-smart-table>
                        <div class="col" *ngIf="source.count()">
                          <div class="row">
                            <div class="col-md-9" style="text-align: right;">
                              <label class="font-text"><b>Claims Adjustment : </b></label>
                            </div>
                            <div class="col-md-3" style="text-align: center;">
                              - {{invoice.ClaimAmount}}
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-9" style="text-align: right;">
                              <label class="font-text"><b>Total Price:</b> </label>
                            </div>
                            <div class="col-md-3" style="text-align: center;">
                              ¥ {{invoice.TotalCost}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="box-footer footer doNotPrint">
            <button type="button" class="btn btn-info" (click)="onPrint()">Print</button>&nbsp;
            <button type="button" class="btn btn-default" (click)="onOk()">OK</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>