.table-footer {
    float: right;
}

.img {
    vertical-align: middle;
    border-style: none;
}

.imageClass {
    height: 100px;
    width: 100px;
}

.font-text {
    font-size: 0.875em !important;
}