<!-- <div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header">Buttons</div>
            <div class="card-body">
                <p *ngFor="let alert of alerts">
                    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
                </p>
            </div>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header">Buttons</div>
            <div class="card-body">
                <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
            </div>
        </div>
    </div>
</div>